In [1]:
import pandas as pd
from pandas.plotting import scatter_matrix
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('data/ramen-ratings.csv')

In [3]:
df.head()

,Review #,Brand,Variety,Style,Country,Stars,Top Ten
0,2580,New Touch,T's Restaurant Tantanmen,Cup,Japan,3.75,NaN
1,2579,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1,NaN
2,2578,Nissin,Cup Noodles Chicken Vegetable,Cup,USA,2.25,NaN
3,2577,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75,NaN
4,2576,Ching's Secret,Singapore Curry,Pack,India,3.75,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2580 entries, 0 to 2579
Data columns (total 7 columns):
Review #    2580 non-null int64
Brand       2580 non-null object
Variety     2580 non-null object
Style       2578 non-null object
Country     2580 non-null object
Stars       2580 non-null object
Top Ten     41 non-null object
dtypes: int64(1), object(6)
memory usage: 141.2+ KB

In [5]:
df.columns = ['review', 'brand', 'variety', 'style', 'country', 'stars', 'top_ten']

In [7]:
for i in df.columns:
    print(df[i].unique())

[2580 2579 2578 ...    3    2    1]
['New Touch' 'Just Way' 'Nissin' 'Wei Lih' "Ching's Secret"
 'Samyang Foods' 'Acecook' 'Ikeda Shoku' "Ripe'n'Dry" 'KOKA' 'Tao Kae Noi'
 'Yamachan' 'Nongshim' 'TRDP' 'Binh Tay' 'Paldo' 'Jackpot Teriyaki'
 'Yum-Mie' 'MyKuali' 'Ottogi' 'Sichuan Guangyou' 'Lipton' 'Lele'
 'Fujiwara' 'Uni-President' 'Maruchan' 'Prima' 'Sokensha' 'Takamori'
 'Guava Story' 'Samurai Ramen' 'Ogasawara' 'Pringles' "Mom's Dry Noodle"
 'Maggi' 'Indomie' 'Happy Cook' 'The Ramen Rater Select' 'TTL' 'E-Zee'
 'Kiki Noodle' 'Tokyo Noodle' 'GGE' 'Myojo' 'Sau Tao' 'Wang' 'Daifuku'
 'Master Kong' "World O' Noodle" 'Kang Shi Fu' 'Mum Ngon' 'Fashion Food'
 'Dream Kitchen' 'Ajinatori' "Dr. McDougall's" 'Ve Wong' 'Super Bihun'
 'Xiuhe' 'Little Cook' 'Shirakiku' "Mama Pat's" 'Goku-Uma'
 'Sichuan Baijia' 'Liang Cheng Mai' 'Gefen' 'Hua Feng' 'Pulmuone'
 'Liu Quan' 'Daikoku' 'Chuan Wei Wang' 'Wai Wai' 'Kamfen' 'Marutai'
 'Vifon' '1 To 3 Noodles' 'Fantastic' 'Knorr' 'Sempio' 'Patanjali'
 'Qin Zong' 'Pran' 'Sapporo Ichiban' 'MAMA' 'Xiao Ban Mian' 'Suimin'
 'Cintan' 'JML' 'Unif Tung-I' 'Tablemark' "Farmer's Heart" 'Fuku'
 'Singa-Me' 'Love Cook' 'Great Value' 'Asian Thai Foods' 'Nagatanien'
 'Nyor Nyar' 'Tseng Noodles' 'A-Sha Dry Noodle' 'Morre' 'Roland'
 "Mr. Lee's Noodles" 'Choumama' 'President Rice' 'Happy Family' 'Menraku'
 'La Moderna' 'Jingqi' 'Thien Houng Foods' 'Doll' 'Four Seas' 'CarJEN'
 '7 Select' 'Oni Hot Pot' 'Weh Lih' 'Itomen' 'Sanpo' 'Mi Sedaap'
 'Tokushima Seifun' 'Mamee' 'Zow Zow' 'Koyo' 'ORee Garden' 'A1' 'Migawon'
 "Chaudhary's Wai Wai" 'Urban Noodle' 'Trident' 'Conimex' 'Prima Taste'
 'MyOri' 'Itsuki' 'Kabuto Noodles' 'IbuRamen' 'Koh Thai' 'Bamee' 'Ibumie'
 'Unox' 'Fortune' 'Bonasia' 'Mie Sedaap' 'iMee' 'Thai Smile' 'Asia Gold'
 'Pirkka' 'Higashimaru' 'Kuriki' 'Vedan' 'Yum Yum' 'Mama' 'Baijia' 'Daraz'
 'Pama' 'Seven & I' 'Forest Noodles' "Vit's" 'Ten-In' 'Sugakiya Foods'
 'Hao Way' 'Nakaya Shouten' 'Thai Chef' 'Crystal Noodle' 'Azami' 'Super'
 'Torishi' 'Western Family' 'Chering Chang' 'Ishimaru'
 'Authentically Asian' 'Aroi' 'Koka' 'Wu-Mu' 'Yamadai' 'Vina Acecook'
 'Baixiang Noodles' 'Salam Mie' 'Lee Fah Mee' 'Sakurai Foods'
 'The Kitchen Food' 'Premiere' '7 Select/Nissin' 'Wugudaochang' 'Emart'
 'Lishan Food Manufacturing' 'Ah Lai' 'Tropicana Slim' 'A-One' 'Deshome'
 'Paldo Vina' 'Chencun' 'United' 'ChoripDong' 'Shan' 'Ruski' 'No Name'
 'New Way' 'Lucky Me!' "Campbell's" 'One Dish Asia' 'Long Jun Hang'
 'Unif-100' 'Hankow' 'The Bridge' 'Mitoku' 'Unzen' 'Uncle Sun' 'Mi E-Zee'
 'E-mi' 'J.J.' 'Curry Prince' 'Econsave' 'Oyatsu' 'Kin-Dee' 'Ko-Lee' 'ICA'
 'Nanyang Chef' 'Thai Pavilion' 'Miliket' 'Katoz' 'Men-Sunaoshi' 'Chewy'
 'Adabi' 'Osaka Ramen' "Sainsbury's" 'Pamana' "Annie Chun's" 'La Fonte'
 'Thai Choice' 'Tesco' 'Pop Bihun' 'Snapdragon' 'Saji' 'Miracle Noodle'
 'Tiger Tiger' 'Takamori Kosan' 'Papa' 'Sawadee' 'Golden Wheat'
 'Lotus Foods' 'Plats Du Chef' 'Batchelors' 'Sakura Noodle' 'Unif'
 'Hi-Myon' 'Healtimie' 'Thai Kitchen' 'Mr. Noodles' 'Good Tto Leu Foods'
 'GaGa' 'Kimura' 'Tokachimen Koubou' 'ABC' 'Eat & Go' 'President'
 'SuperMi' 'Kumamoto' 'HoMyeonDang' 'Nan Jie Cun' 'China Best' 'Sanrio'
 'Peyang' 'Golden Wonder' 'Komforte Chockolates' 'Nagao Noodle' 'Maitri'
 'GS25' 'Baltix' 'Amianda' 'Tasty Bite' 'Star Anise Foods' 'Tradition'
 'Amino' 'Pot Noodle' 'Sun Noodle' 'S&S' 'Springlife' 'Right Foods'
 'Sunlee' 'Goku Uma' 'Daddy' "Han's South Korea" 'Sarimi' 'FMF' 'Long Kow'
 'Unif / Tung-I' 'Song Hak' 'Fuji Mengyo' 'Dragonfly' 'CJ CheilJedang'
 'Dongwon' 'Seven-Eleven' 'Souper' "Kim's Bowl" 'Ohsung' 'Gau Do'
 'Golden Mie' 'GreeNoodle' 'Kailo' 'Fashion Foods' 'Hosoonyi' 'Payless'
 'Yamamoto' 'Saigon Ve Wong' 'Wu Mu' 'Mee Jang' 'JFC' 'Samyang' 'Mug Shot'
 'Lishan' 'Cap Atoom Bulan' 'Sura' 'Wei Chuan' 'Yamamori' 'Mr. Udon'
 'Omachi' 'Wei Wei' 'Six Fortune' 'Haioreum' 'Sunlight' 'Noah Foods'
 'O Sung' 'Foodmon' 'Sahmyook' 'Nan Hsing' 'Mexi-Ramen' 'Hsin Tung Yang'
 'Sao Tao' 'iNoodle' 'Quickchow' 'Chikara' 'Q' 'Noodle Time' 'Gomex'
 'US Canning' 'Rhee Bros Assi' 'Bon Go Jang' 'Tayho' 'Sunny Maid'
 'Royal Umbrella' 'Tiger' 'Fu Chang Chinese Noodle Company' 'Sanyo Foods'
 'Rocket Brand' 'Boss' 'Chorip Dong' 'Higashi' 'Sakurai'
 'Global Inspiration' 'Teriyaki Time' 'Hua Feng Noodle Expert'
 'Kim Ve Wong' 'Smack' 'Sutah' 'Tung-I' 'Westbrae']
["T's Restaurant Tantanmen "
 'Noodles Spicy Hot Sesame Spicy Hot Sesame Guan-miao Noodles'
 'Cup Noodles Chicken Vegetable' ...
 'Hu Tiu Nam Vang ["Phnom Penh" style] Asian Style Instant\xa0Rice\xa0Noodles'
 'Oriental Style Instant Noodles' 'Tom Yum Chili Flavor']
['Cup' 'Pack' 'Tray' 'Bowl' 'Box' 'Can' 'Bar' nan]
['Japan' 'Taiwan' 'USA' 'India' 'South Korea' 'Singapore' 'Thailand'
 'Hong Kong' 'Vietnam' 'Ghana' 'Malaysia' 'Indonesia' 'China' 'Nigeria'
 'Germany' 'Hungary' 'Mexico' 'Fiji' 'Australia' 'Pakistan' 'Bangladesh'
 'Canada' 'Nepal' 'Brazil' 'UK' 'Myanmar' 'Netherlands' 'United States'
 'Cambodia' 'Finland' 'Sarawak' 'Philippines' 'Sweden' 'Colombia'
 'Estonia' 'Holland' 'Poland' 'Dubai']
['3.75' '1' '2.25' '2.75' '4.75' '4' '0.25' '2.5' '5' '4.25' '4.5' '3.5'
 'Unrated' '1.5' '3.25' '2' '0' '3' '0.5' '4.00' '5.0' '3.50' '3.8' '4.3'
 '2.3' '5.00' '3.3' '4.0' '3.00' '1.75' '3.0' '4.50' '0.75' '1.25' '1.1'
 '2.1' '0.9' '3.1' '4.125' '3.125' '2.125' '2.9' '0.1' '2.8' '3.7' '3.4'
 '3.6' '2.85' '3.2' '3.65' '1.8']
[nan '2016 #10' '2016 #1' '2016 #8' '2016 #5' '2016 #9' '2016 #7'
 '2015 #10' '2015 #7' '2015 #4' '2015 #9' '2015 #6' '2015 #1' '2013 #10'
 '2015 #8' '2014 #7' '2014 #4' '2014 #9' '2014 #10' '2014 #8' '2014 #5'
 '2014 #6' '2014 #1' '2013 #1' '2013 #2' '2013 #4' '\n' '2013 #9'
 '2013 #3' '2012 #10' '2012 #7' '2012 #5' '2012 #3' '2012 #6' '2012 #9'
 '2012 #1' '2012 #2' '2013 #6' '2012 #4']

In [9]:
for i in df.columns:
    print(i, len(df[i].unique()))

review 2580
brand 355
variety 2413
style 8
country 38
stars 51
top_ten 39

After EDA, I decided to drop the row where it does not have rating.

I am also dropping some columns which would be irrelevant to predict the rating.

In [21]:
df = df[df.stars != 'Unrated']

In [22]:
df['stars'].unique()

array(['3.75', '1', '2.25', '2.75', '4.75', '4', '0.25', '2.5', '5',
       '4.25', '4.5', '3.5', '1.5', '3.25', '2', '0', '3', '0.5', '4.00',
       '5.0', '3.50', '3.8', '4.3', '2.3', '5.00', '3.3', '4.0', '3.00',
       '1.75', '3.0', '4.50', '0.75', '1.25', '1.1', '2.1', '0.9', '3.1',
       '4.125', '3.125', '2.125', '2.9', '0.1', '2.8', '3.7', '3.4',
       '3.6', '2.85', '3.2', '3.65', '1.8'], dtype=object)

Would it be reasonable to drop the row where it got 0 star? 

Maybe not now.

In [23]:
df[df['stars'] == '0']

,review,brand,variety,style,country,stars,top_ten
53,2527,Uni-President,Mushroom Flavor,Pack,Vietnam,0,NaN
77,2503,Sichuan Guangyou,Sweet Potato Instant Noodle Sout-Hot Flavor,Bowl,China,0,NaN
154,2426,Dr. McDougall's,Vegan Pad Thai Noodle Soup,Cup,USA,0,NaN
293,2287,Master Kong,Artificial Abalone Crab Flavor Instant Noodle,Pack,China,0,NaN
372,2208,Roland,Ramen Japanese Style Quick-Cooking Alimentary ...,Pack,USA,0,NaN
477,2103,Roland,Ramen Japanese Style Quick-Cooking Alimentary ...,Pack,USA,0,NaN
524,2056,Koyo,Garlic Pepper Reduced Sodium Ramen,Pack,USA,0,NaN
557,2023,Urban Noodle,Authentic Street Food Black Bean,Cup,UK,0,NaN
563,2017,Samyang Foods,Honey & Cheese Big Bowl,Bowl,South Korea,0,NaN
624,1956,Maruchan,Spicy Tomato Salsa Ramen,Cup,Japan,0,NaN
667,1913,Thai Smile,Mushroom Rice Noodle Soup Bowl,Bowl,USA,0,NaN
707,1873,Vedan,Wei Wei A Instant Noodles Chicken Flavor,Bowl,Taiwan,0,NaN
717,1863,Baijia,Broad Noodle Pickled Vegetable Artificial Beef...,Pack,China,0,NaN
785,1795,Azami,Kimchee Flavour Noodle Soup,Pack,Canada,0,NaN
798,1782,Western Family,Beef Flavour Instant Noodles,Pack,Canada,0,NaN
939,1641,One Dish Asia,Japanese Ramen Noodle,Bowl,USA,0,NaN
952,1628,Azami,Kimchee Noodle Soup,Cup,Canada,0,NaN
1209,1371,Campbell's,Hearty Noodles Thai Flavour,Cup,Canada,0,NaN
1996,584,Baijia,Single Noble Black Bone Chicken Sweet Potato T...,Cup,China,0,NaN
2000,580,Baijia,Hot & Sour Casserole Stewed Rice Noodle,Pack,China,0,NaN
2082,498,Hsin Tung Yang,Tiny Noodle With Oyster Flavor,Pack,Taiwan,0,NaN
2194,386,US Canning,Fu Chang Chinese Noodle Company Pork Seafood,Tray,USA,0,NaN
2287,293,Tiger,Onion Flaver Rice Noodle,Bowl,Taiwan,0,NaN
2419,161,Paldo,Green Tea Chlorella,Pack,South Korea,0,NaN
2447,133,Baijia,Hot & Sour Rice Noodle,Pack,China,0,NaN
2537,43,Kim Ve Wong,Jaopai Series: Vegetarian Instant Noodles,Bowl,Taiwan,0,NaN

In [27]:
df.drop(['review','top_ten'], axis=1, inplace=True)

In [28]:
df.head()

,brand,variety,style,country,stars
0,New Touch,T's Restaurant Tantanmen,Cup,Japan,3.75
1,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1
2,Nissin,Cup Noodles Chicken Vegetable,Cup,USA,2.25
3,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75
4,Ching's Secret,Singapore Curry,Pack,India,3.75

I found 'stars' is not float. Let's convert it.

In [29]:
df['stars'] = df['stars'].astype(float)

In [31]:
df['stars'].head()

0    3.75
1    1.00
2    2.25
3    2.75
4    3.75
Name: stars, dtype: float64

In [32]:
df['style'].unique()

array(['Cup', 'Pack', 'Tray', 'Bowl', 'Box', 'Can', 'Bar', nan],
      dtype=object)

In [33]:
df['style'].isna().sum()

2

In [36]:
df = df.dropna(subset =['style'])

In [37]:
df['style'].isna().sum()

0

In [39]:
df['country'].isna().sum()

0

In [40]:
df['brand'].isna().sum()

0

In [41]:
df['variety'].isna().sum()

0

In [42]:
len(df['variety'].unique())

2408

In [43]:
len(df)

2575

There are multiple rating for certain varieties. It would be meaningful to get the row of average rating if variety and style are identical.

In [48]:
df2 = df.groupby(['variety','style','country','brand'], as_index=False)['stars'].mean()

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2575 entries, 0 to 2579
Data columns (total 5 columns):
brand      2575 non-null object
variety    2575 non-null object
style      2575 non-null object
country    2575 non-null object
stars      2575 non-null float64
dtypes: float64(1), object(4)
memory usage: 120.7+ KB

In [52]:
len(df2['variety'].unique())

2408

In [53]:
len(df2)

2561

Alright! everything is cleaned. I can jump to the featurization.

In [55]:
from nltk.corpus import stopwords
import string
import re
from sklearn.feature_extraction.text import TfidfVectorizer

regex = re.compile('[%s]' % re.escape(string.punctuation))
stopwords_ = stopwords.words('english')
punctuation_ = set(string.punctuation)

def filter_stopwords_punct(sentence):
    """remove stop words and punctuation"""
    sentence = regex.sub('', sentence)
    text = [word for word in sentence.split() if word not in stopwords_]
    return ' '.join(text)


from nltk.tokenize import word_tokenize

def sentence_to_words_clean(txt):
    """function to tokenzine sentence"""
    for sentence in txt:
        yield(word_tokenize(sentence))


from nltk.stem import WordNetLemmatizer

def lemming(text):
    """a function which stems each word in the given text"""
    lemmer = WordNetLemmatizer()
    text = [lemmer.lemmatize(word) for word in text]
    return text

# removing stopwords/punctuation --> tokenize --> lemmatize

def processing_text(target_df,column):
    regex = re.compile('[%s]' % re.escape(string.punctuation))
    stopwords_ = stopwords.words('english')
    punctuation_ = set(string.punctuation)
    target_df[column] = target_df[column].astype(str)
    data = target_df[column].values.tolist()
    data1 = list(filter_stopwords_punct(sentence) for sentence in data)
    data_words = list(sentence_to_words_clean(data1))
    data_lem = [lemming(sentence) for sentence in data_words]
    target_df['lemmed'] = data_lem
    target_df['lemmed'] = target_df['lemmed'].apply(lambda x: ', '.join(x))
    return target_df

In [56]:
df3 = processing_text(df2, 'variety')

In [58]:
df3.tail()

,variety,style,country,brand,stars,lemmed
2556,chicken,Pack,Dubai,Golden Mie,3.25,chicken
2557,dried Mix Noodles Soya Bean Paste,Tray,China,Kamfen,3.75,"dried, Mix, Noodles, Soya, Bean, Paste"
2558,spicy Pad Thai Instant Noodles & Sauce,Tray,USA,Thai Pavilion,4.25,"spicy, Pad, Thai, Instant, Noodles, Sauce"
2559,ДОШИРАК (Dosirac) Beef Flavor,Pack,South Korea,Paldo,3.50,"ДОШИРАК, Dosirac, Beef, Flavor"
2560,三養라면 (Samyang Ramyun) (South Korean Version),Bowl,South Korea,Samyang Foods,3.75,"三養라면, Samyang, Ramyun, South, Korean, Version"